@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&family=Nerko+One&display=swap');

:root{
    --cor-1: #dad7cd;
    --cor-2: #a3b18a;
    --cor-3: #588157;
    --cor-4: #3a5a40;
    --cor-5: #344e41;

    --font-1: "Nerko One", cursive;
    --font-2: "Mukta", sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--cor-1);
    margin: 0;
    font-family: var(--font-2);
    font-size: 30px;
}

.quiz-container {
    background-color: white;
    width: 800px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 60px;
    margin-bottom: 20px;
}

h2 {
    font-size: 30px;
}

.btn {
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: var(--cor-3);
    color: white;
    font-size: 24px;
    cursor: pointer;
    margin-top: 10px;
}

.btn:hover {
    background-color: var(--cor-4);
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin-top: 20px;
}

.btn-answer {
    background-color: var(--cor-5);
}

.btn-answer:hover {
    background-color: #162b19;
}

.correct {
    background-color: #5bc260;
    color: white;
}

.wrong {
    background-color: var(--cor-4);
    color: white;
}

.hide {
    display: none;
}

#result-container {
    margin-top: 20px;
}

p {
    font-size: 24px;
}
